.entity-breadcrumb-section ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.entity-breadcrumb-section ul li i.breadcrumb-icon::before {
  width: 10px;
  height: 10px;
  content: " \02C3";
}

.entity-breadcrumb-section ul li i.breadcrumb-icon::after {
  content: "";
  margin-right: 5px;
}