:root {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  color: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(240,240,240,1) 50%, rgba(244,244,244,1) 90%);
  height: 100vh;
}

main {
  min-height: calc(100% - 25.125rem);
}

section, article {
  margin-bottom: 3.125rem;
}

h1 {
  font-size: 1.375rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p, span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
  display: block;
  font-weight: 600;
}

figure {
  width: 100%;
  max-width: 416;
  margin: 20px auto 20px auto;
  text-align: center;
  align-self: center;
}

@media (min-width: 576px) {
  figure {
    max-width: 432px;
  }
}

@media (min-width: 769px) {
  figure {
    max-width: 489px;
  }
}

@media (min-width: 992px) {
  figure {
    max-width: 584px;
  }
}

@media (min-width: 1200px) {
  figure {
    max-width: 855px;
    align-self: initial;
  }
}

figcaption {
  background-color: rgb(100, 100, 100);
  color: white;
  font-weight: bold;
  width: 100%;
  display: block;
  padding: 5px 0;
  bottom: 0;
}

a {
  color: rgb(160, 0, 0);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  font-weight: 700;
  border: none;
  padding: 0;
  color: rgb(160, 0, 0);;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}


/* *Breakpoints used*
      - Mobile - From 768px to cero (Has middel breakpoint 576px)
      - Tablet - From 991px to 769px -> Min-width: 769px
      - Desktop - From 1199px to 992px -> Min-width: 992px
      - Large devices - From infinite to 1200px -> Min-width 1200px
 */