footer {
  background-color: black;
  height: 16rem;
  margin-top: auto;
}

footer .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer p {
  color: white;
  margin: 0;
  font-weight: 600;
  text-align: center;
}