@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css');

/* CSS configuration */
@import 'config.css';

/* CSS Layout */
@import 'layout.css';

@import 'header.css';
@import 'footer.css';
@import 'banner.css';
@import 'breadcrumb.css';
@import 'cards.css';
@import 'animations.css';

.entity-index-presentation-section {
  margin-bottom: 50px;
}

#dots {
  display: inline;
}

#read-more {
  display: none;
}

i.not-active::before {
  width: 10px;
  height: 10px;
  content: "\02C5";
}
i.active::before {
  width: 10px;
  height: 10px;
  content: "\02C4";
}

.entity-subsection {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .entity-subsection {
    width: 45%;
  }
}

.image-height {
  height: 300px;
}

@media (min-width: 576px) {
  .image-height {
    height: 320px;
  }
}

@media (min-width: 769px) {
  .image-height {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .image-height {
    height: 280px;
  }
}

@media (min-width: 1200px) {
  .image-height {
    height: 360px;
  }
}

.fixed-image-width {
  max-width: 320px;
}

article .article__intro-text {
  width: 100%;
}

@media (min-width: 992px) {
  article .article__intro-text {
    width: 49%;
  }
}

article .article__intro-text li {
  margin: 0;
}

article .article__intro-image {
  width: unset;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  article .article__intro-image {
    width: 49%;
    margin: 0;
  }
}

.img-license {
  width: 100%;
  height: 20px;
  object-fit: none;
}

.slider__slide--grey-background {
  background-color: rgb(150, 147, 147);
}

.tns-nav {
  margin-top: 10px;
}
.tns-nav > [aria-controls] {
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: rgb(153, 153, 153);
  border: 0;
}

.tns-nav > .tns-nav-active {
  background: rgb(160, 0, 0);
}

.svg-container {
  width: 150px;
  height: 120px;
  margin: 0 auto 1rem auto;
}

.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.column-clip {
  height: 500px;
  clip-path: polygon(0% 10%, 2% 10%, 3% 13%, 6% 13%, 6% 15%, 7% 15%, 9% 19%,
   9% 19%, 10% 17%, 10% 19%, 12% 19%, 12% 17%, 13% 17%, 13% 19%, 87% 19%, 87% 17%,
   88% 17% , 88% 19%, 90% 19%, 90% 17%, 91% 17%, 91% 19%, 93% 15%, 94% 15%, 94% 13%,
   97% 13%, 98% 10%, 100% 10%, 100% 83%, 98% 83%, 97% 80%, 94% 80%, 94% 78%, 93% 78%, 91% 74%,
   91% 76%, 90% 76%, 90% 74%, 88% 74%, 88% 76%, 87% 76%, 87% 74%,
   13% 74%, 13% 76%, 12% 76%, 12% 74%, 10% 74%, 10% 76%, 9% 76%, 9% 74%, 7% 78%, 6% 78%, 6% 80%,
   3% 80%, 2% 83%, 0% 83% 
  );
  top: -100px;
  background-color:rgb(76, 75, 75);
}


.entity-last-added-article .article-added {
  position: relative;
}

.entity-last-added-article img {
  position: relative;
  top: -50px;
}

.entity-last-added-article .article-added__body-text {
  position: absolute;
  top: calc(50% - 180px);
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px;
  background: rgba(76, 75, 75, 0.8);
  width: calc(100% - 60px);
}


.entity-last-added-article .article-added__description {
  z-index: 1;
  color: white;
  text-align: center;
  opacity: 1;
}

.entity-last-added-article .article-added__description p {
  font-weight: 600;
}

.entity-last-added-article .article-added .article-added__button {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  z-index: 2;
  font-weight: 600;

  padding: 10px 15px;
  line-height: 12px;
  bottom: 20px;
  right: 20px;
}

.entity-last-added-article .article-added .article-added__button:hover {
  background-color: rgb(160, 0, 0);
  border: solid 4px white;
}

.entity-last-added-article a {
  text-decoration: none;
  color: black;
}

.entity-last-added-article a:hover {
  background-color: rgb(160, 0, 0);
  color: white;
}
