@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

/* CSS configuration */
@import 'config.css';

/* CSS Layout */
@import 'layout.css';

@import 'header.css';
@import 'footer.css';
@import 'cards.css';

.entity-banner-section {
  position: relative;
}

.entity-banner-section figure {
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.entity-banner-section img {
  height: 265px;
}

.entity-banner-section figcaption {
  padding: 0;
}

.entity-banner-section h1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

.entity-index-presentation-section {
  margin-bottom: 50px;
}

#dots {
  display: inline;
}

#read-more {
  display: none;
}

i.not-active {
  width: 10px;
  height: 10px;
  content: url("../static/icons/angle-down-solid.svg");
}
i.active {
  width: 10px;
  height: 10px;
  content: url("../static/icons/angle-up-solid.svg");
}

@media (min-width: 992px) {
  .entity-subsection {
    width: 45%;
  }
}

.image-height {
  height: 300px;
}

@media (min-width: 576px) {
  .image-height {
    height: 320px;
  }
}

@media (min-width: 769px) {
  .image-height {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .image-heightn {
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .image-height {
    height: 360px;
  }
}